<%- current_navigation_tab :statistics, :index -%>
<%- title("Statistics") -%>

<div class="box">
	<div class="pageTitle">
		<h1>Statistics</h1>
	</div>
	
	<p>We're still working on producing a comprehensive range of statistical graphs. Watch this space!</p>
	<%= flash_messages %>

</div>